@media print {
  img.max-w-100 {
    max-width: 100% !important;
  }
}
img.max-w-100 {
  max-width: 100% !important;
}
body {
  padding-top: 80px;
  padding-left: 35px;
}
#main-page-hero {
  margin-bottom: 0;
  padding-left: 100px;
  padding-right: 100px;
}
