@media print {
  img.max-w-100 {
    max-width: 100% !important;
  }
}
img.max-w-100 {
  max-width: 100% !important;
}
body {
  padding-top: 80px;
  padding-left: 35px;
}
#main-page-hero {
  margin-bottom: 0;
  padding-left: 100px;
  padding-right: 100px;
}
table caption {
  font-weight: bold;
  font-style: italic;
  font-size: larger;
}
table.table-caption-above caption {
  caption-side: top !important;
}
table.table-caption-below caption {
  caption-side: bottom !important;
}
.text-color-red {
  color: #FF0000;
}
