<div class="row">
    <hr/>
    <div class="card">
        <div class="card-body">
            <p>"PDF" is the name for a file format developed by Adobe.  It's possible Adobe has a trademark on "PDF".  The USPTO list of trademarks shows close to a zillion applications with the string "PDF" in the name.  Therefore, it is believed that "PDF" in "PDF Document Maker" is under fair use.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p><a href="https://akashacms.github.io/pdf-document-construction-set/">PDF Document Maker</a> is an application built on top of <a href="https://akashacms.com">AkashaCMS</a> components.</p>
        </div>
    </div>
</div>